{% extends 'flatpages/default.html' %}

{% block content %}
<h1>Пост</h1>
<hr>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Название</label>
    <input type="text" name="name"><br><br>
    <label for="text">Текст</label>
    <input type="text" name="text"><br><br>

       <select size="3" name="type">
    <option disabled>Выберите категорию</option>
    <option value="TK">Танки</option>
    <option selected value="HL">Хилы</option>
    <option value="DD">ДД</option>
    <option selected value="GM">Гилдмастеры</option>
    <option value="QG">Квестгиверы</option>
    <option selected value="BS">Кузнецы</option>
    <option value="LW">Кожевники</option>
    <option selected value="PM">Зельевары</option>
    <option selected value="SM">Мастера заклинаний</option>
    <option selected value="DL">Торговцы</option>
   </select><br><br>


    <input type="submit" value="Save" />
</form>
{% endblock content %}